<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Pam</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav mr-auto">

            <% if (pageId == "home") { %>
                <a class="nav-item nav-link active" href="#">Home</a>

            <% } else { %>
                <a class="nav-item nav-link" href="/">Home</a>
            <% } %>

            <% if (logged === true) { %>
                <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
            <% } %>

            <% if (pageId == "about") { %>
                <a class="nav-item nav-link active" href="#">About</a>

            <% } else { %>
                <a class="nav-item nav-link" href="/about">About</a>
            <% } %>
        </div>

        <% if (logged !== true) { %>
        <div class="navbar-nav">
            <form class="form-inline my-2">
                <a class="btn btn-sm btn-outline-secondary mr-lg-2" href="/register">Register</a>
                <a class="btn btn-sm btn-outline-success" href="/login">Login</a>
            </form>
        </div>
        <% } else { %>
            <div class="navbar-nav">
                <form class="form-inline my-2">
                    <a class="btn btn-md btn-outline-info" href="/logout">Logout</a>
                </form>
            </div>
        <% } %>
    </div>
</nav>