<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>
        <main>
            Dashboard
        </main>
    </body>
</html>